body{
    background-color: rgb(229, 229, 229);
    color:rgb(229, 229, 229);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    }
a{
    text-decoration:none;
    color:rgb(44, 44, 44);
}
table {
    text-align: center;
    background-color: rgb(44, 44, 44);
    width: 85%; 
    margin: 0 auto;
    border-spacing: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    table-layout: fixed;

}

td button{
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 5%;
    border-radius: 5%;
}
td button:hover{
    background-color: rgb(121, 209, 206);
    cursor: pointer;
  
}

th {
    background-color: rgb(121, 209, 206);
    padding: 15px;
    color: rgb(44, 44, 44);
    border-bottom: 1px solid   rgb(233, 232, 232);}

td {
    padding: 15px;
   border-bottom: 1px solid  rgb(233, 232, 232);
    }
td input[type="text"], select{
   
    margin: 8px 0; 
    
    padding: 8px 10px;
    width: 95%; 
    box-sizing: border-box; 
}
td select{
    cursor: pointer;
}
p{
    color: black;
}

.menu-button {
    margin-top: -7%;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 95%;
    z-index: 1;
}

.menu-button span {
    width: 100%;
    height: 3px;
    background-color: azure;
}

.menu-toggle {
    display: none;
}

.menu {
    height:auto;
    display: none;
    background-color:black;
    padding: 1%; 
    position: absolute;
    right: 0; 
    animation:mover linear 0.3s reverse;
    margin-top:1.1%;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}

@keyframes mover {
    0% {
      transform: translateX(0);
  
    }
    100% {
        transform: translateX(50px);
    }
  }


.menu-toggle:checked + .menu-button + .menu {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: azure;
 
}
.menu a:hover{
    color:brown;
  
}

