body{
    background-color: rgb(229, 229, 229);
    color:rgb(229, 229, 229);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    }
a{
    text-decoration:none;
    color:rgb(44, 44, 44);
}
table {
    text-align: center;
    background-color: rgb(44, 44, 44);
    width: 85%; 
    margin: 0 auto;
    border-spacing: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    table-layout: fixed;

}

td button{
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 5%;
    border-radius: 5%;
}
td button:hover{
    background-color: rgb(121, 209, 206);
    cursor: pointer;
  
}

th {
    background-color: rgb(121, 209, 206);
    padding: 15px;
    color: rgb(44, 44, 44);
    border-bottom: 1px solid   rgb(233, 232, 232);}

td {
    padding: 15px;
   border-bottom: 1px solid  rgb(233, 232, 232);
    }
td input[type="text"] {
   
    margin: 8px 0; 
    
    padding: 8px 10px;
    width: 95%; 
    box-sizing: border-box; 
}
p{
    color: black;
}